:root {
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --background-color2: #F5F5F5;
    --backgroundhero: #2F303A;
    --logocolor: #000000;
    --backgroundworklist: #F5F4FA;
    --background-color-footer: #2F303A;
    --herobuttonactive: #188CE8;
    --boxborder: #EEEEEE;

}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
}

.logo-word {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color)
}

.logo-link {
    font-family: 'Raleway', sans-serif;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    color: var(--logocolor);
    letter-spacing: 0.03em;
    text-decoration: none;
}


.site-nav {
    list-style-type: none;
}

.site-nav .link.current {
    color: var(--accent-color);
}

.link {
    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}


.site-nav2 {
    list-style-type: none;

}

.link2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}

.link2:hover,
.link2:focus {
    color: var(--accent-color);
}

.hero {
    background-color: var(--backgroundhero);

}

.hero .herotitle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    color: var(--background-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;


}

.hero .herobutton {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--background-color);
    cursor: pointer;
}


.hero .herobutton:hover {
    background: var(--herobuttonactive);
}

.hero .herobutton:focus {
    background: var(--herobuttonactive);
}

.benefits {
    background-color: var(--background-color2);
}

.notitle {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.list1 {
    list-style-type: none;
}

.list1 .list2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tittle-text-color);
    text-transform: uppercase;

}

.list1 .list3 {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


.secondarytitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
}

.worklist {
    list-style-type: none;
}


.team {
    background: var(--backgroundworklist);
}

.teamtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.03em;

}

.teamlist {
    list-style-type: none;
}

.teamname {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
}

.job {

    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.card {
    background: var(--background-color)
}

footer {
    background-color: var(--background-color-footer);
}

.logo2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logopart1 {
    color: var(--accent-color);
}

.logopart2 {
    color: var(--background-color);
}

.addresslist {
    list-style-type: none;
}

.addresslink1 {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--background-color);
    text-decoration: none;
}

.addresslink1:hover {
    color: var(--accent-color);
}

.addresslink1:focus {
    color: var(--accent-color);
}

.addresslink2 {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.addresslink2:hover,
.addresslink2:focus {
    color: var(--accent-color);
}

.buttonlist {
    list-style-type: none;
}

.btn {
    background: var(--backgroundworklist);
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-text-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 500;
    line-height: 26px;

}

.btn:hover,
.btn:focus {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.btn.current {
    color: var(--background-color);
    background-color: var(--accent-color);
}

.imglist {
    list-style-type: none;
}

.imgbox {
    box-sizing: border-box;
    background: var(--background-color);
    border: 1px solid var(--boxborder);

}


.imgtitle {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--tittle-text-color);
}

.imgname {


    font-size: 16px;
    line-height: 1.8;
    color: var(--primary-text-color);
}

.adresslink3 {

    font-size: 14px;
    line-height: 1.7;
    font-family: inherit;
    font-style: normal;
    text-decoration: none;


}